In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
# Import the CSV file
listings_df = pd.read_csv("/Users/musta/OneDrive/Documents/School/DATA485/AirBnB Data/listings-Meng Tian.csv")

In [4]:
# Reading the first few lines of the datafram
listings_df.head()

,description,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,FIR - Large Private room in Lake Forest with sink,435279521,Nathan,Lake City,Cedar Park,47.73908,-122.29009,Private room,42,1,9,2.52,7,364
1,"Water-view retreat with deck, grill, paddleboa...",104834083,Vacasa Washington,Rainier Valley,Rainier Beach,47.50846,-122.23577,Entire home/apt,194,3,2,1.50,46,360
2,ALKI BEACH-AMAZING SEATTLE STEPS 2 BEACH/BOARD...,25383292,Margaret,West Seattle,Alki,47.58493,-122.40062,Entire home/apt,595,30,20,0.32,2,104
3,Spacious 2-Bed Home with Backyard,33439044,Aharon,Rainier Valley,Rainier View,47.48163,-122.26550,Entire home/apt,300,30,0,NaN,2,365
4,Family-friendly home w/ fast wifi & a large yard,121968404,Matt,Northgate,Haller Lake,47.74255,-122.32712,Entire home/apt,248,3,7,2.47,1,156

In [5]:
# Here we have 14 columns & 5904 rows
listings_df.shape

(5904, 14)

In [6]:
# We want to delete a few columns, namely:
# host_id & host_name since these have no use for our purpose
# neighbourhood since it is a subset of the neighbourhood_group
# latitude & longitude since we are not planning on employing geospatial analysis through those values

keep_col = ['description','neighbourhood_group','room_type','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']
new_f = listings_df[keep_col]
new_f.to_csv("newFile.csv", index=False)

In [7]:
# Reading the first few lines of our new file without the uneeded columns
new_f.head()

,description,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,FIR - Large Private room in Lake Forest with sink,Lake City,Private room,42,1,9,2.52,7,364
1,"Water-view retreat with deck, grill, paddleboa...",Rainier Valley,Entire home/apt,194,3,2,1.50,46,360
2,ALKI BEACH-AMAZING SEATTLE STEPS 2 BEACH/BOARD...,West Seattle,Entire home/apt,595,30,20,0.32,2,104
3,Spacious 2-Bed Home with Backyard,Rainier Valley,Entire home/apt,300,30,0,NaN,2,365
4,Family-friendly home w/ fast wifi & a large yard,Northgate,Entire home/apt,248,3,7,2.47,1,156

In [8]:
# Now we have 9 columns. The rows remain the same.
new_f.shape

(5904, 9)

In [9]:
# Listing the numerical and categorical columns
numerical_columns = new_f.select_dtypes(exclude=object).columns.tolist()
categorical_columns = new_f.select_dtypes(include=object).columns.tolist()

In [10]:
# Dealing With Null Values
# Numeric columns: Use median imputation
numeric_imputer = SimpleImputer(strategy='median')
listings_df[numerical_columns] = numeric_imputer.fit_transform(listings_df[numerical_columns])

# Categorical columns with mode imputation
categorical_imputer = SimpleImputer(strategy='most_frequent')
listings_df[categorical_columns] = categorical_imputer.fit_transform(listings_df[categorical_columns])

In [11]:
# Remove rows with all NaN values
new_f.dropna(how='all',inplace=True)

C:\Users\musta\AppData\Local\Temp\ipykernel_6956\238121837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_f.dropna(how='all',inplace=True)

In [12]:
new_f.shape

(5904, 9)

In [13]:
New_df = pd.read_csv("/Users/musta/OneDrive/Documents/School/DATA485/AirBnB Data/newFile.csv")